.chat-main
  .chat-main__info
    .chat-main__info__left-box
      .chat-main__info__left-box__name  test
      .chat-main__info__left-box__members member:masa
    .chat-main__info__right-box
      .chat-main__info__right-box__btn　Edit
      %a{ href: '#'}
  .chat-main__message
    .chat-main__message__ability
      .chat-main__message__ability__name masa
      .chat-main__message__ability__dates 2019/01/03   
    .chat-main__message__text おはよう
  .chat-main__form
    %form.message
      .input-box
        %input{type: "text", class: "input-box__text", placeholder: "何か入力してください"}
        %label{class: "input-box__image"}
          = icon('fab', 'instagram')
          %input{type: "file", class: "input-box__image__file"}
    %input{type: "submit", class: "submit-btn"}