* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.side-bar {
  width: 300px;
  background-color: #253141;
  &__user-name {
    height: 100px;
    display: flex;
    align-items: center;
    &--box{
      color: white;
      width: 260px;
      height: 20px;
      margin: 0 20px;
      display: flex;
      justify-content: space-between;
      &__left{
        color: white;
        font-size: 16px;
        width: 60px;
        line-height: center;
      }
      &__right{
        width: 60px;
        text-align: right;
      }
    }
  }

  &__group-list{
    width: 300px;
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    &__group-members{
      height: 91px;
      color: white;
      &__name{
        width: 260px;
        font-size: 15px;
        color: white;
        margin: 0px 20px 5px 20px;
        padding: 20px 0px 0px 0px;
      }
      &__message{
        width: 260px;
        font-size: 11px;
        margin: 0 20px 40px 20px;
      }
    }
  }
}

.edit-link{
  color: #ffffff;
}

.left-icon{
  margin-left: 100px;
}

.control-link{
  color: #ffffff;
}

.right-icon{

}

.chat-main {
  width: calc(100vw - 300px);
  background-color: #ffffff;
  &__info{
    height: 100px;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    &__left-box{
      margin-left: 40px;
      width: auto;
      &__name{
        padding-top: 35px;
        color: #333333;
        font-size: 20px;
      }
      &__members{
        padding-top: 15px;
        color: #999999;
        font-size: 12px;
      }
    }
    &__right-box{
      width: 72px;
      height: 100px;
      margin-right: 40px;
      position: relative;
      &__btn{
        margin: 30px 20px 30px 20px;
        height: 40px;
        width: 72px;
        position: absolute;
        font-size: 16px;
        color: #38aef0;
        border: #38aef0 solid 1px;
        display: block;
        cursor: pointer;
        text-align: center;
        line-height: 40px;
        padding-right: 15px;
      }
    }
  }
  &__message{
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
    padding-left: 40px;
    padding-top: 35px;
    box-sizing: border-box;
    &__ability{
      margin-bottom: 12px;
      display: flex;
      &__name{
        color: #333333;
        font-size: 16px;
      }
      &__dates{
        color: #999999;
        font-size: 12px;
      }
    }
    &__text{
      color: #434a54;
      font-size: 14px;
    }
  }
  &__form{
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 40px;
    display: flex;
    .input-box{
      width: calc(100vw - 500px);
      &__text{
        height: 50px;
        width: calc(100vw - 550px);
        border-style: none;
        padding: 0 0px 0 10px;
      }
      .form-image{
        display: flex;
        &__parts{
        background-color: white;
        top: 10px;
        cursor: pointer;
        font-size: 15px;
        padding-left: 18px;
        padding-top: 15px;
        padding-right: 15px;
          &__file{
            display: none;
          }
        }
      }   
    }
      .submit-btn{
        width: 100px;
        height: 50px;
        padding: 0 30px;
        background-color: #38aef0;
        color: #fafafa;
        cursor: pointer;
      }
  }
}