* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.side-bar {
  width: 300px;
  background-color: #253141;

  &__user-name {
    height: 100px;
    display: flex;
    align-items: center;
    &--box{
      color: white;
      width: 260px;
      height: 20px;
      margin: 0 20px;
      display: flex;
      justify-content: space-between;
      &__left{
        color: white;
        font-size: 16px;
        width: 60px;
        line-height: center;
      }
      &__right{
        text-decoration: none;
        color: white;
        width: 60px;
        text-align: right;
        padding-left: 5px;
      }
      .leftbtn{
        color: white;
      }
      .rightbtn{
        color: white;
        padding-left: 5px;
      }
    }
  }

  &__group-list{
    width: 300px;
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    &__group-members{
      height: 91px;
      color: white;
      .deco{
        color: white;
        text-decoration: none;
      }
      &__name{
        width: 260px;
        font-size: 15px;
        color: white;
        margin: 0px 20px 5px 20px;
        padding: 20px 0px 0px 0px;
      }
      &__message{
        width: 260px;
        font-size: 11px;
        margin: 0 20px 40px 20px;
      }
    }
  }
}

.edit-link{
  color: #ffffff;
}

.left-icon{
  margin-left: 100px;
}

.control-link{
  color: #ffffff;
}

.right-icon{

}

.chat-main {
  width: calc(100vw - 300px);
  background-color: #ffffff;
  &__info{
    height: 100px;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    &__left-box{
      margin-left: 40px;
      width: auto;
      &__name{
        padding-top: 35px;
        color: #333333;
        font-size: 20px;
      }
      &__members{
        padding-top: 15px;
        color: #999999;
        font-size: 12px;
      }
    }
    &__right-box{
      width: 72px;
      height: 100px;
      margin-right: 40px;
      position: relative;
      &__btn{
        margin: 30px 20px 30px 20px;
        height: 40px;
        width: 72px;
        position: absolute;
        font-size: 16px;
        color: #38aef0;
        border: #38aef0 solid 1px;
        display: block;
        cursor: pointer;
        text-align: center;
        line-height: 40px;
        padding-right: 5px;
      }
      .editter{
        color: #38aef0;
        text-decoration: none;
      }
    }
  }
  &__message{
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
    padding-left: 40px;
    padding-top: 35px;
    box-sizing: border-box;
    &__ability{
      margin-bottom: 12px;
      display: flex;
      &__name{
        color: #333333;
        font-size: 16px;
      }
      &__dates{
        color: #999999;
        font-size: 12px;
      }
    }
    &__text{
      color: #434a54;
      font-size: 14px;
    }
  }
  .form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
    &__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
    }
    &__mask {
      background-color: $white;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
        font-size: 20px;
        line-height: 50px;
        cursor: pointer;
      }
      .hidden {
        display: none;
      }
    }
    &__submit {
      background-color: $light_blue;
      border: none;
      color: $white;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
      cursor: pointer;
    }
  }
}